{% extends "layout.html" %}
{% block content %}
<div id="content_container">
  {% if request.GET.action != '' and request.GET.error != '' %}
    <div id="error">
      {% if request.GET.action == 'rate' and request.GET.error == '1' %}
        You can't rate an image more than once. Althought you can edit your rating.
      {% endif %}
      <div id="close-error">x</div>
      <script type="text/javascript">
        (function($){
          window.addEventListener("load", function load(e){
              $('#close-error').click(function(){
                $('#error').slideUp(300);
              });
          });
        })(jQuery);
      </script>
    </div>
  {% endif %}


  <div id="content">
    <div id="image_detail">
      {% if user == image.user %}
        <div id="owner_actions">
          {{ image.id }}
          (<a href="{% url 'imagesapp:image_edit' image.id %}">Edit</a>
          <a href="{% url 'imagesapp:image_delete' image.id %}">Delete</a>)
        </div>
      {% endif %}

      <p class='title'>
        {{ image.title }}
      </p>

      <img src="{{ image.url }}" alt="{{ image.title }}" title="{{ image.title }}" />

      <p class="owner">Uploaded by {{ image.user.username }}</p>
      <p class="description">{{ image.description }}</p>

      <div id="rates">
        {% for rate in image.rates.all %}
          {% if user == rate.user %}
            <p>
                You rated this image with a {{ rate.rating }}
                <a href="{% url 'imagesapp:rate_edit' rate.id %}">Edit</a>
                <a href="{% url 'imagesapp:rate_delete' rate.id %}">Delete</a>
            </p>
          {% else %}
            <p>Rated by {{ rate.user.username }} with a {{ rate.rating }}
          {% endif %}
          {% empty %}<p>No one has rated this image yet. Be the first!</p>
        {% endfor %}
      </div>

      <div id="comments">
        {% for comment in image.comments.all %}
          <p>
            <b>{{ comment.user.username }}:</b>{{ comment.text }}

            {% if user == comment.user %}
                <a href="{% url 'imagesapp:comment_edit' comment.id %}">Edit</a>
                <a href="{% url 'imagesapp:comment_delete' comment.id %}">Delete</a>
            {% endif %}
          </p>
          {% empty %}<p>No one has commented this image yet. Be the first!</p>
        {% endfor %}
      </div>
    </div>
    <div id="user_actions">
        <a href="{% url 'imagesapp:comment_create' image.id %}">Comment</a> |
        <a href="{% url 'imagesapp:rate_create' image.id %}">Rate</a>
    </div>
  </div>
</div>

{% endblock %}
