{% extends "layout.html" %}
{% block title %}ImagesApp - Image: {{ image.title }}{% endblock %}

{% block content %}
<div id="content_container">
  {% if request.GET.action == 'rate' and request.GET.error != '' %}
    <div id="error">
      {% if request.GET.action == 'rate' and request.GET.error == '1' %}
        You can't rate an image more than once. Althought you can edit your rating.
      {% endif %}
      <div id="close-error">x</div>
      <script type="text/javascript">
        (function($){
          window.addEventListener("load", function load(e){
              $('#close-error').click(function(){
                $('#error').slideUp(300);
              });
          });
        })(jQuery);
      </script>
    </div>
  {% endif %}

  <div id="content" vocab="http://schema.org/" typeof="ImageObject">
    <div id="image_detail">
      {% if user == image.user %}
        <div id="owner_actions">
          <a href="{% url 'imagesapp:image_edit' image.id %}">Edit</a>
          <a href="{% url 'imagesapp:image_delete' image.id %}">Delete</a>
        </div>
      {% endif %}

      <div id="image_top">
          <p class='title' property="name">
            {{ image.title }}
          </p>
          <p class="date" property="datePublished">
              Uploaded by
              {% if user == image.user %}
                  <a href="{% url 'myprofile' %}" property="author">
                      {{ image.user.username }}
                  </a>
              {% else %}
                  <a href="{% url 'profile' image.user.id %}" property="author">
                      {{ image.user.username }}
                  </a>
              {% endif %}
              at <span property="datePublished">{{ image.date|date:"Y-m-d" }}</span>
          </p>
      </div>
      <div id="image_view">
          <img src="{{ image.url }}" alt="{{ image.title }}" title="{{ image.title }}" property="contentUrl" />
      </div>
      <p class="description" property="description">{{ image.description }}</p>

      <div id="extra">
          <div id="rates">
              <div class="title">Ratings</div>
              <div class="box" rel="review">
                {% for rate in image.rates.all %}
                    <div typeof="Review">
                        <span property="author" content="{{ rate.user.username }}"></span>
                        <p class="rate" rel="reviewRating" typeof="Rating">
                            <span>{{ rate.user.username }}</span>
                            rated this image with a
                            <span property="ratingValue">{{ rate.rating }}</span>

                            <span property="bestRating" content="5"></span>
                            <span property="worstRating" content="1"></span>
                        </p>
                        {% if user == rate.user %}
                            <a href="{% url 'imagesapp:rate_edit' rate.id %}">Edit</a>
                            <a href="{% url 'imagesapp:rate_delete' rate.id %}">Delete</a>
                        {% endif %}
                    </div>
                      {% empty %}<p class="rate">No one has rated this image yet. Be the first!</p>
                {% endfor %}
              </div>
            </div>

          <div id="comments">
              <div class="title">Comments</div>
              <div class="box" rel="comment">
                {% for comment in image.comments.all %}
                  <p class="comment" typeof="Comment">
                    <b property="author">{{ comment.user.username }}:</b> <span property="text">{{ comment.text }}</span>

                    {% if user == comment.user %}
                        <a href="{% url 'imagesapp:comment_edit' comment.id %}">Edit</a>
                        <a href="{% url 'imagesapp:comment_delete' comment.id %}">Delete</a>
                    {% endif %}
                  </p>
                  {% empty %}<p class="comment">No one has commented this image yet. Be the first!</p>
                {% endfor %}
              </div>
          </div>
      </div>

    <div id="user_actions">
        <a href="{% url 'imagesapp:comment_create' image.id %}">Comment</a> or
        <a href="{% url 'imagesapp:rate_create' image.id %}">Rate</a> this image!
    </div>
  </div>
</div>

{% endblock %}
